@media (max-width: 767px){
  :root {
    --orangeTxt-color: #d27751;
    --topMenu-color: #DDDDDD;
}

[data-theme="dark"] {
    /*_____- Dark Mode -_______*/
    --orangeTxt-color: #d27751;
    --topMenu-color: #575757;
}
  body{
    color: #000;
    height: 100%;
  }

  #topMenu{
  min-height: 100vh;
  max-height: 100vh;
  max-width: 0;
  padding: 0;
  overflow-x: hidden;
	/*background-color: var(--bg2-color);*/
}
  #menuBurguer{
    flex-direction: column;
  }
  #themeTemp{
    position: absolute;
    right: 13%;
  }
  .IconImg {
	 display: none;
  }
  .IconImg-Mob {
    display: none;
    flex-direction: row;
    position: fixed;
    bottom: 5%;
    width: -webkit-fill-available;
    justify-content: space-around;
  }
  .IconImg-Mob div{
    margin: 0;
  }

  .IconImg-Mob .linkedinM1{
  	background-image: var(--wtIcon-linkedin);
  }
  
  .IconImg-Mob .mailM1{
  	background-image: var(--wtIcon-email);
  }
  
  .IconImg-Mob .gitM1{
  	background-image: var(--wtIcon-git);
  }
  
  .IconImg-Mob .wpM1{
  	background-image: var(--wtIcon-wp);
  }
  .txtTitle{
    font-size: 2.5em;
  }


  /*______- M1 -______*/
  
  #logoImgM1 {
    width: 60vw;
  }
  #midContent1 {
    flex: 1;
    justify-content: space-around;
  }
  #midContent1sub1 {
    display: flex;
    flex-direction: column-reverse;
  }
  #turnDownM1 {
    position: relative;
    bottom: 1%;
  }
  #textNameM1 {
    font-size: 3em;
    margin: 4% auto 0 auto;
  }
  #textRoleM1 {
    text-align: center;
    font-size: 1.3em;
  }
  #textBtnsM1 {
    justify-content: center;
  }
  .btnM1 {
    font-size: 1.3em;
    min-width: fit-content;
  }



  #EasterEgg{
    width: 90%;
    right: initial;
  }
  
  /*______- M2 -______*/
  #midContent2{
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    padding-top: 15%;
  }
  #imgM2{
    width: 80%;
    max-width: 80%;
    margin: 0;
  }

  #rightContentM2{
    max-width: 98%;
  }
  #titleM2{
	font-size: 2.5em;
	margin-bottom: 2%;
  } 

  #textP1M2{
  	font-size: 1em;
  	margin-bottom: 2%;
    margin-top: 20%;
  }
  
  #textP2M2{
  	font-size: 1em;
    margin-bottom: 8%;
  }

  
  /*______- M3 -______*/
  #titleM3{
    font-size: 0.8em;
  }

  .exM3 {
    flex-direction: column;
  }
  .leftEx1M3 {
    flex-direction: column;
    width: 100%;
  }

  .lineExM3 {
    border-width: 4px 0px 0 0;
    min-width: 100%;
    min-height: 0;
    margin: 2% 0;
  }

  #HM4Python{
  background-image: url('imgs/pyIconPort60.png');
  }

  #HM4Node{
    background-image: url('imgs/nodeIconPort60.png');
  }

  #HM4React{
    background-image: url('imgs/reactIconPort60.png');
  }

  #HM4JS{
    background-image: url('imgs/jsIconPort60.png');
  }

  #HM4SQL{
    background-image: url('imgs/sqlIconPort60.png');
  }

  /*______- M4 -______*/

  #midContent4{
  min-height: 55vh;
  }



  #habilidadesM4 {
    width: 100%;
  }

  .HM4Icon{
    min-width: 12%;
    max-width: 14%;
  }
  
  #HM4backTxt{
    max-height: 55vh;
  }


  /*______- M5 -______*/
  .educM5 {
    width: 80%;
  }
  .tTM5 {
    font-size: 1.5em;
    padding: 0 0 2% 0;
  }

  .courseM5 {
    font-size: 1.1em;
  }


  /*______- M6 -______*/

  #midContent6 {
    padding-bottom: 20%;
  }

  #projsM6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    min-width: 100%;

  }




  .projM6 {
    margin: 2% auto;
    width: 85%;
  }

  .detailsM6{
    flex-direction: column;
    min-width: 90vw;
    max-width: 90vw;
    aspect-ratio: 1/1;
    color: #FFFFFF;
  }

  .detContM6 {
    height: 80%;
  }

  .titleDetM6 {
    font-size: 1.5em;
  }

  .txtDetM6 {
    font-size: 0.8em;
  }

  .subTxtDetM6 {
    bottom: 10%;
    left: 2%;
    font-size: 1em;
  }


  .btnsDetM6 {
    height: 8%;
    left: 0%;
    right: 0%;
  }

/*______- M7 -______*/

  #midContent7 {
    padding: 10% 0;
  }

  .infoM7{
    flex-direction: column;
  }

  .subInfM7{
    margin: 10%;
  }


  .cTxtM7 {
    font-size: 0.8em;
  }






/*_______- BURGUER MENU -________*/


   .burguerBtn-on, .burguerBtn-off{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 4%;
    top: 1%;
    width: 2em;
    aspect-ratio: 1/1;
  }
.burguerBtn-off {
    position: fixed;
    height: 50px;
    z-index: 99999 !important;
}
  .burguerBtn-on label div,
  .burguerBtn-on label div::before,
  .burguerBtn-on label div::after, 
  .burguerBtn-off label div,
  .burguerBtn-off label div::before,
  .burguerBtn-off label div::after{
    background-color: var(--redTxt-color);
  }
  
@import url(https://fonts.googleapis.com/css?family=Raleway);
h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
}

* {
  font-family: "Raleway";
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: linear-gradient(to left, #f46b45, #eea849);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle, #menu-toggle1 {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle + .menu-button-container .menu-button::before{
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle + .menu-button-container .menu-button{
  background: rgba(255, 255, 255, 0);
}

#menu-toggle + .menu-button-container .menu-button::after{
  margin-top: 0px;
  transform: rotate(-405deg);
}


  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li{
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle{
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

}
